{% extends 'base.html.twig' %}

{% block title %}Hello AuthController!{% endblock %}

{% block body %}
    <div {{ stimulus_controller('auth') }}>
        <form action="/auth" method="post" {{ stimulus_target('auth', 'form') }}>
            <label for="username" >username: </label>
            <input type="text" name="username" {{ stimulus_target('auth', 'name') }}>
            <br>
            <label for="password">password: </label>
            <input type="password" {{ stimulus_target('auth', 'password') }}>
            <br>
            <button type="submit">Go</button>
        </form>
    </div>
    <br>
    <a href="/register">К регистрации</a>
{% endblock %}
